{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
//  "extends": "",
  "rules": {
    "no-use-before-define": "off",
    "no-trailing-spaces": "off",
    "no-unused-vars": "off",
    "no-underscore-dangle":"off"
  }
}